Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*

Adds activity tracking post requests to serveral pages
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Team.vue
Labels: frontend

Removed comments from get_team_membership
  backend/teams/__test__/get_team_membership_for_user.test.js
Labels: backend, teams

Removed comments from get_users_for_team
  backend/teams/__test__/get_users_for_team.test.js
Labels: backend, teams

Removed comments from get_team_invites
  backend/teams/__test__/get_team_invites.test.js
Labels: backend, teams

Fixes indentation issues
  frontend/src/views/Team.vue
Labels: frontend

Moves activity_tracking to general mixin
  frontend/src/mixins/general.js
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Team.vue
Labels: frontend

Set up montage link
  frontend/src/config/general.js
  frontend/src/views/PhotoBooth.vue
Labels: frontend

add team limit and message
  frontend/src/views/Team.vue
Labels: frontend

Create schedule scaffolding
  frontend/src/views/Schedule.vue
Labels: frontend

Make progress on display
  frontend/src/assets/star_purple_empty.png
  frontend/src/assets/star_purple_filled.png
  frontend/src/assets/star_white_empty.png
  frontend/src/assets/star_white_filled.png
  frontend/src/config/general.js
  frontend/src/mixins/general.js
  frontend/src/views/Schedule.vue
Labels: frontend

Improve display
  frontend/src/views/Schedule.vue
Labels: frontend

Toggle events in user list
  backend/schedule/__tests__/get_events_from_user_list.test.js
  backend/schedule/handler.js
  frontend/src/views/Schedule.vue
Labels: frontend, backend, schedule

Improve registration readability
  frontend/src/views/Register.vue
Labels: frontend

Improve responsiveness
  frontend/src/mixins/general.js
  frontend/src/views/Schedule.vue
Labels: frontend

Update Schedule.vue
  frontend/src/views/Schedule.vue
Labels: frontend

Add schedule data seeder
  backend/infrastructure/package-lock.json
  backend/infrastructure/package.json
  backend/infrastructure/schedule-seeder.js
  backend/infrastructure/schedule_sample_data.csv
Labels: backend, infrastructure

Fix passport system responsiveness
  frontend/src/views/Passport.vue
Labels: frontend

Fix schedule title font
  frontend/src/views/Schedule.vue
Labels: frontend

Add red line to schedule
  frontend/src/views/Schedule.vue
Labels: frontend

Add ability to attend events
  frontend/src/views/Schedule.vue
Labels: frontend

Update live stream asset
  frontend/src/assets/livestream.png
Labels: frontend

Add zoom link to team room
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend, backend, teams

Configure photo booth and add live link
  frontend/src/config/general.js
  frontend/src/views/PhotoBooth.vue
Labels: frontend

Get basic slider working
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/ScheduleCard1.png
  frontend/src/assets/ScheduleCard2.png
  frontend/src/assets/ScheduleCard3.png
  frontend/src/assets/global.css
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Home.vue
Labels: frontend

Add branding
  frontend/src/assets/ScheduleCard3.png
  frontend/src/components/ScheduleCarousel.vue
Labels: frontend

Styling
  frontend/src/assets/global.css
  frontend/src/components/ScheduleCarousel.vue
Labels: frontend

Move to schedule mixin
  frontend/src/assets/global.css
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/mixins/schedule.js
  frontend/src/views/Schedule.vue
Labels: frontend

Add to home/schedule pages
  frontend/src/assets/global.css
  frontend/src/components/Button.vue
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/mixins/schedule.js
  frontend/src/views/Home.vue
  frontend/src/views/Schedule.vue
Labels: frontend

Add saved events
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Schedule.vue
Labels: frontend

Get schedule slider working
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/mixins/schedule.js
  frontend/src/views/Schedule.vue
Labels: frontend

Cleanup
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Home.vue
Labels: frontend

Schedule carousel edits
  frontend/src/components/ScheduleCarousel.vue
Labels: frontend

Add loading spinner to shortlink page
  frontend/src/views/ShortLink.vue
Labels: frontend

fix Firefox display issues with background gradient and checkboxes
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Login.vue
Labels: frontend

limit number of invites to 3
  frontend/src/views/Team.vue
Labels: frontend

fix some mentorship tests
  backend/projects/__tests__/create_mentorship_request.test.js
  backend/projects/__tests__/get_active_mentorship_requests.test.js
  backend/projects/__tests__/get_user_mentorship_requests.test.js
  backend/projects/__tests__/update_mentorship_request.test.js
Labels: backend, projects

linting
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Passport.vue
Labels: frontend

change transparency
  frontend/src/assets/global.css
  frontend/src/views/Home.vue
Labels: frontend

add images and relevant styling
  frontend/src/assets/global.css
  frontend/src/assets/home_page_bg.svg
  frontend/src/assets/pattern.png
  frontend/src/views/Home.vue
Labels: frontend

Add FAQ
  frontend/src/components/ContentPage.vue
  frontend/src/config/content.js
  frontend/src/router/index.js
  frontend/src/views/FAQ.vue
  frontend/src/views/Register.vue
Labels: frontend
