Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

Fixed silly copy paste error
  backend/teams/handler.js
Labels: backend, teams

Adds timestamps to teams, invites, and memberships (#116)
  backend/teams/handler.js
Labels: backend, teams

Improve Home Page Responsiveness (#117)
  frontend/src/assets/technica-logo-icon.png
  frontend/src/components/Banner.vue
  frontend/src/views/Home.vue
Labels: frontend

Mentor page scaffolding
  frontend/src/router/index.js
  frontend/src/views/RequestMentor.vue
Labels: frontend

Fix config issues with prod deploy
  backend/projects/config/prod.json
  frontend/src/views/Schedule.vue
Labels: frontend, backend, projects

initial commit for zoom api key cycling (#118)
  backend/infrastructure/.gitignore
  backend/infrastructure/add_zoom_keys.js
  backend/infrastructure/create-tables.js
  backend/schedule/.gitignore
  backend/schedule/config/dev.json
  backend/schedule/config/prod.json
  backend/schedule/config/stage.json
  backend/schedule/config/testing.json
  backend/schedule/handler.js
  backend/schedule/serverless.yml
Labels: backend, infrastructure, schedule

Frontend mentor management (#119)
  backend/projects/handler.js
  frontend/src/components/Banner.vue
  frontend/src/components/Mentors/MentorManagementCard.vue
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/RequestMentor.vue
Labels: frontend, backend, projects

Begin adding live stream
  frontend/src/assets/livestream.png
  frontend/src/router/index.js
  frontend/src/views/LiveStream.vue
Labels: frontend

Add mentorship requests to infra script
  backend/infrastructure/create-tables.js
Labels: backend, infrastructure

finished get_team_invites test
  backend/teams/__test__/get_team_invites.test.js
Labels: backend, teams

Fix sponsor endpoint config
  frontend/src/config/general.js
Labels: frontend

Fix teams endpoint in config
  frontend/src/config/general.js
Labels: frontend

make sponsor tooltip opaque (#121)
  frontend/src/components/Sponsors/SponsorCard.vue
Labels: frontend

Added update hacker profile function (#120)
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, users

Remove hacker profile restriction in onboarding flow
  frontend/src/components/Sponsors/SponsorCard.vue
  frontend/src/views/Register.vue
Labels: frontend

Renaming water cooler text (#123)
  frontend/src/router/index.js
  frontend/src/views/WaterCooler.vue
Labels: frontend

Fix users dev endpoint
  frontend/src/config/general.js
Labels: frontend

Complete (#125)
  frontend/src/config/general.js
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: frontend

Changing text box colors (#124)
  frontend/src/assets/global.css
Labels: frontend

Add explanatory text to team formation
  frontend/src/assets/global.css
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Team.vue
Labels: frontend

Require user to create a team before accessing projects, team room pages
  frontend/src/App.vue
  frontend/src/components/NavItem.vue
  frontend/src/components/Navbar.vue
  frontend/src/mixins/general.js
  frontend/src/views/Team.vue
Labels: frontend

Add onboarding walkthrough button
  frontend/src/config/general.js
  frontend/src/views/Home.vue
Labels: frontend

Use Intercom API for product tour
  frontend/src/config/general.js
  frontend/src/views/Home.vue
Labels: frontend

Registration page sizing adjustments
  frontend/src/components/ContentContainer.vue
Labels: frontend

Connect water cooler to dedicated zoom link
  frontend/src/views/WaterCooler.vue
Labels: frontend

Use Vue router to authenticate (#122)
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/views/Logout.vue
Labels: frontend

lambda layers (#126)
  backend/admin/serverless.yml
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/projects/serverless.yml
  backend/schedule/package-lock.json
  backend/schedule/package.json
  backend/schedule/serverless.yml
  backend/teams/serverless.yml
  backend/users/serverless.yml
Labels: backend, admin, projects, schedule, teams, users

Re-trigger CI
  backend/users/handler.js
Labels: backend, users

Fix issued with layers ticket
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/teams/package-lock.json
  backend/teams/package.json
  backend/teams/serverless.yml
  backend/users/package-lock.json
  backend/users/package.json
  backend/users/serverless.yml
Labels: backend, projects, teams, users

Add layers to admin service
  backend/admin/package-lock.json
  backend/admin/package.json
  backend/admin/serverless.yml
Labels: backend, admin

Misc frontend cleanup (uniform headers and colors, remove scroll bars) (#130)
  frontend/src/assets/global.css
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

Already Submitted Project (#129)
  backend/teams/__test__/get_team_submission.test.js
  backend/teams/__test__/update_team_submission.test.js
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: frontend, backend, teams

Add loading spinner (#131)
  frontend/src/assets/loading.gif
  frontend/src/components/LoadingSpinner.vue
  frontend/src/views/Authenticate.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/Team.vue
Labels: frontend

Add loading spinner to team creation
  frontend/src/views/Team.vue
Labels: frontend

Add watercooler image (#133)
  frontend/src/assets/watercooler.png
  frontend/src/views/WaterCooler.vue
Labels: frontend

make navbar sticky
  frontend/src/components/Navbar.vue
Labels: frontend

fixed handler.js
  backend/teams/handler.js
Labels: backend, teams

fixed linter issues
  backend/teams/__test__/get_team_invites.test.js
  backend/teams/__test__/get_users_for_team.test.js
  backend/teams/handler.js
Labels: backend, teams

fixed get_users_for_team in handler for tests creating duplicate teams
  backend/teams/__test__/get_users_for_team.test.js
  backend/teams/handler.js
Labels: backend, teams

Adds track_user_activity backend
  backend/admin/config/dev.json
  backend/admin/config/prod.json
  backend/admin/config/stage.json
  backend/admin/handler.js
  backend/admin/serverless.yml
Labels: backend, admin

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*
