Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

Temp remove tooltip
  frontend/src/components/Sponsors/SponsorCard.vue
Labels: frontend

Polish sponsor booth styling
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Update postcard1.png
  frontend/src/assets/postcards/postcard1.png
Labels: frontend

Add link to team formation event
  frontend/src/config/general.js
  frontend/src/views/Team.vue
Labels: frontend

Added 'Other' option to mentor request page
  frontend/src/views/RequestMentor.vue
Labels: frontend

Add sponsor booth backend (#164)
  backend/admin/config/dev.json
  backend/admin/config/prod.json
  backend/admin/config/stage.json
  backend/admin/config/testing.json
  backend/admin/handler.js
  backend/admin/serverless.yml
  backend/infrastructure/create-tables.js
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend, backend, admin, infrastructure

Sponsor view (#165)
  frontend/src/mixins/general.js
  frontend/src/router/index.js
  frontend/src/views/Authenticate.vue
  frontend/src/views/Home.vue
  frontend/src/views/Logout.vue
  frontend/src/views/SponsorAnalytics.vue
Labels: frontend

address PR comments
  frontend/src/views/Login.vue
Labels: frontend

update team membership status on login (#166)
  frontend/src/views/Authenticate.vue
Labels: frontend

Fix bug where Leaving and creating a new team results in re-joining the same team
  frontend/src/views/Team.vue
Labels: frontend

Migrate to new environment variable system
  frontend/src/components/ChecklistItem.vue
  frontend/src/mixins/general.js
  frontend/src/mixins/schedule.js
  frontend/src/router/index.js
  frontend/src/views/About.vue
  frontend/src/views/Authenticate.vue
  frontend/src/views/Games.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/LiveStream.vue
  frontend/src/views/Login.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/Passport.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Profile.vue
  frontend/src/views/Project.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/ShortLink.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/SponsorshipFair.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

Begin customization
  frontend/src/components/Navbar.vue
  frontend/src/config/general.js
  frontend/src/mixins/general.js
Labels: frontend

Begin color customization
  frontend/src/assets/global.css
  frontend/src/assets/mail-icon.svg
  frontend/src/components/Button.vue
  frontend/src/components/ContentPage.vue
  frontend/src/components/Mentors/MentorManagementCard.vue
  frontend/src/components/NavItem.vue
  frontend/src/components/SectionTitle.vue
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
  frontend/src/views/Passport.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

Background customization
  frontend/src/assets/global.css
  frontend/src/views/LiveStream.vue
Labels: frontend

Live stream
  frontend/src/views/LiveStream.vue
Labels: frontend

More customization
  frontend/src/assets/global.css
  frontend/src/components/Banner.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Home.vue
Labels: frontend

Schedule
  frontend/src/assets/star_purple_empty.svg
  frontend/src/assets/star_purple_filled.png
  frontend/src/assets/star_purple_filled.svg
  frontend/src/components/NavItem.vue
  frontend/src/mixins/schedule.js
Labels: frontend

More customization
  frontend/src/assets/global.css
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Team.vue
Labels: frontend

Finalize customization
  frontend/src/components/ProgressCircles.vue
  frontend/src/views/Register.vue
Labels: frontend

Complete customization
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/views/HackerProfile.vue
Labels: frontend

Cleanup
  frontend/src/views/Project.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

Config
  frontend/.env.production2
  frontend/package.json
Labels: frontend

Finalize customization for demo
  frontend/src/router/index.js
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Register.vue
Labels: frontend

Adds update and delete functions for sponsor items (#169)
  backend/admin/handler.js
  backend/admin/serverless.yml
  backend/projects/handler.js
  backend/projects/serverless.yml
Labels: backend, admin, projects

finished putting in a placeholder text for the hacker profile description in register.vue (#168)
  frontend/src/views/Register.vue
Labels: frontend

finished renaming from 'Team Formation' to 'My Team' in Team.vue (#167)
  frontend/src/views/Team.vue
Labels: frontend

Misc fixes (#170)
  frontend/src/views/Home.vue
  frontend/src/views/Project.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
Labels: frontend

Add description to sponsors page
  frontend/src/views/Sponsors.vue
Labels: frontend

Fix misc. responsiveness issues (#171)
  frontend/src/views/HackerProfile.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Add the ability to edit hacker profile (#172)
  frontend/src/assets/edit.svg
  frontend/src/assets/link.svg
  frontend/src/components/Button.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/Register.vue
Labels: frontend

Add description to hacker profile page
  frontend/src/views/HackerProfile.vue
Labels: frontend

Update HackerProfile.vue
  frontend/src/views/HackerProfile.vue
Labels: frontend

Responsiveness edits for hacker profile
  frontend/src/assets/global.css
  frontend/src/views/HackerProfile.vue
Labels: frontend

Integrate announcements with slack API (#173)
  backend/admin/config/dev.json
  backend/admin/config/prod.json
  backend/admin/config/stage.json
  backend/admin/config/testing.json
  backend/admin/handler.js
  backend/admin/serverless.yml
  backend/infrastructure/create-tables.js
  frontend/src/components/Banner.vue
  frontend/src/views/Home.vue
Labels: frontend, backend, admin, infrastructure

Add loading to announcements
  frontend/src/views/Home.vue
Labels: frontend

Fix home page issue
  frontend/src/views/Home.vue
Labels: frontend

Customize most of platform
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Sponsors.vue
Labels: frontend

Customize FAQ
  frontend/src/config/content.js
Labels: frontend

Registration edits
  frontend/src/views/Register.vue
Labels: frontend

Login logout styling
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
Labels: frontend

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*
