Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*

Frontend: Improve linter (#97)
  .github/workflows/test-backend.yml
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.huskyrc
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, cicd

Initial Update of README.md (#101)
  README.md
Labels: none

Brian/projects create devpost (#93)
  backend/infrastructure/create-tables.js
  backend/projects/__tests__/create_project_submission.test.js
  backend/projects/config/dev.json
  backend/projects/config/prod.json
  backend/projects/config/stage.json
  backend/projects/config/testing.json
  backend/projects/handler.js
  backend/projects/serverless.yml
  backend/schedule/handler.js
  backend/schedule/package-lock.json
  backend/schedule/serverless.yml
Labels: backend, infrastructure, projects, schedule

Samuelhoward/login and registration tracking (#102)
  backend/infrastructure/create-tables.js
  backend/users/config/dev.json
  backend/users/config/prod.json
  backend/users/config/stage.json
  backend/users/config/testing.json
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, infrastructure, users

adds timestamp parameter to activity table items (#103)
  backend/users/handler.js
Labels: backend, users

Add working team invites
  backend/teams/handler.js
  frontend/src/views/Team.vue
Labels: frontend, backend, teams

Add get_hackers_invited_to_team route
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/views/Team.vue
Labels: frontend, backend, teams

Add serverless dashboard monitoring
  backend/admin/serverless.yml
  backend/projects/serverless.yml
  backend/schedule/serverless.yml
  backend/teams/serverless.yml
  backend/users/serverless.yml
Labels: backend, admin, projects, schedule, teams, users

Add SERVERLESS_ACCESS_KEY to CI/CD
  .github/workflows/deploy-backend-admin.yml
  .github/workflows/deploy-backend-projects.yml
  .github/workflows/deploy-backend-schedule.yml
  .github/workflows/deploy-backend-teams.yml
  .github/workflows/deploy-backend-users.yml
Labels: cicd

Re-trigger CI/CD
  .github/workflows/deploy-backend.yml
Labels: cicd

finished update_project_submission
  backend/projects/.eslintcache
  backend/projects/__tests__/update_project_submission.test.js
  backend/projects/handler.js
  backend/projects/serverless.yml
Labels: backend, projects

Use serverless framework for frontend deploys
  .github/workflows/deploy-frontend.yml
  frontend/package.json
  frontend/serverless.yml
Labels: frontend, cicd

Add serverless install to deploy script
  .github/workflows/deploy-frontend.yml
Labels: cicd

Remove global serverless install
  .github/workflows/deploy-frontend.yml
Labels: cicd

Add Technica org to frontend YAML
  frontend/serverless.yml
Labels: frontend

create script
  backend/infrastructure/add-sponsors.js
Labels: backend, infrastructure

Home and Sponsors Page Cleanup (#105)
  backend/teams/__test__/invite_to_team.test.js
  backend/teams/__test__/join_team.test.js
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/assets/global.css
  frontend/src/components/Navbar.vue
  frontend/src/components/Sponsors/SponsorCard.vue
  frontend/src/views/Home.vue
  frontend/src/views/Team.vue
Labels: frontend, backend, teams

Add v2 of schedule frontend
  frontend/src/assets/Star.png
  frontend/src/assets/Star_purple_outline.png
  frontend/src/views/Home.vue
  frontend/src/views/Schedule.vue
Labels: frontend

Update schedule page styling
  frontend/src/views/Schedule.vue
Labels: frontend

Update staging teams endpoint with proper url
  frontend/src/config/general.js
Labels: frontend

initial commit
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/projects/serverless.yml
Labels: backend, projects

initial commit
  backend/projects/serverless.yml
Labels: backend, projects

Consolidate nav bar into dropdowns (#108)
  frontend/src/router/index.js
Labels: frontend

Update prod users config to use correct base invite url
  backend/users/config/prod.json
Labels: backend, users

Update frontend prod config to use correct teams and users base endpoints
  frontend/src/config/general.js
Labels: frontend

Update prod frontend sponsors config endpoint
  frontend/src/config/general.js
Labels: frontend

Fix bug with referral system not waiting for promise to complete in generator
  backend/users/handler.js
Labels: backend, users

Manual merge of Brian's update project submission PR
  backend/projects/__tests__/update_project_submission.test.js
  backend/projects/handler.js
  backend/projects/serverless.yml
Labels: backend, projects

connect selection of project check boxes to database (#109)
  frontend/package-lock.json
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: frontend

Update referral reply_to email to event ops email
  backend/users/handler.js
Labels: backend, users

Add prizes link (#110)
  frontend/src/config/general.js
  frontend/src/router/index.js
Labels: frontend

Scroll down to prizes devpost section when prizes link clicked
  frontend/src/config/general.js
Labels: frontend

Add hacker resources link (#111)
  frontend/src/config/general.js
  frontend/src/router/index.js
Labels: frontend

Add ids to page components so intercom can access them during walkthrough
  frontend/src/components/NavItem.vue
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Team.vue
Labels: frontend

Add photo booth, water cooler pages (#112)
  frontend/src/router/index.js
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

Add loading spinner to teams, project, and sponsor pages (#113)
  frontend/src/views/Authenticate.vue
  frontend/src/views/Project.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/Team.vue
Labels: frontend

Add email validation (#114)
  frontend/src/views/Login.vue
Labels: frontend

Add registration data validation (#115)
  frontend/src/views/Register.vue
Labels: frontend

Adds timestamps to teams, invites, and memberships
  backend/teams/handler.js
Labels: backend, teams

Fixed error with table name in some users service functions
  backend/teams/handler.js
Labels: backend, teams
