Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*

Finish customization
  frontend/src/mixins/general.js
  frontend/src/views/Login.vue
Labels: frontend

Set up invite link process
  backend/users/handler.js
  frontend/src/router/index.js
  frontend/src/views/Register.vue
  frontend/src/views/Signup.vue
Labels: frontend, backend, users

Photo booth
  frontend/src/config/general.js
  frontend/src/views/PhotoBooth.vue
Labels: frontend

finish
  backend/admin/config/prod2.json
  backend/infrastructure/create-tables.js
  backend/infrastructure/schedule-seeder.js
  backend/projects/config/prod.json
  backend/projects/config/prod2.json
  backend/schedule/config/prod2.json
  backend/teams/config/prod2.json
  backend/users/config/prod2.json
  frontend/src/App.vue
  frontend/src/config/general.js
  frontend/src/mixins/general.js
  frontend/src/router/index.js
  frontend/src/views/Login.vue
Labels: frontend, backend, admin, infrastructure, projects, schedule, teams, users

Add sponsors
  backend/infrastructure/sponsor-seeder.js
  backend/infrastructure/sponsor_sample_data.csv
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/views/Sponsors.vue
Labels: frontend, backend, infrastructure

fix
  frontend/src/mixins/general.js
Labels: frontend

Intercom
  backend/schedule/config/prod2.json
  backend/users/config/prod2.json
  frontend/public/index.html
Labels: frontend, backend, schedule, users

Surgical edits
  backend/users/config/prod2.json
  backend/users/handler.js
  frontend/src/assets/global.css
  frontend/src/config/general.js
  frontend/src/views/Logout.vue
Labels: frontend, backend, users

Update Home.vue
  frontend/src/views/Home.vue
Labels: frontend

Schedule updates
  backend/infrastructure/schedule_sample_data.csv
  frontend/src/config/general.js
Labels: frontend, backend, infrastructure

fix schedule
  backend/infrastructure/schedule-seeder.js
  backend/infrastructure/schedule_sample_data.csv
  frontend/src/mixins/general.js
  frontend/src/mixins/schedule.js
  frontend/src/views/Schedule.vue
Labels: frontend, backend, infrastructure

Fix schedule
  backend/admin/config/prod2.json
  frontend/src/router/index.js
  frontend/src/views/Schedule.vue
Labels: frontend, backend, admin

Add mentorship response in slack (#176)
  backend/projects/config/dev.json
  backend/projects/config/prod.json
  backend/projects/config/stage.json
  backend/projects/config/testing.json
  backend/projects/handler.js
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/projects/serverless.yml
  frontend/src/views/RequestMentor.vue
Labels: frontend, backend, projects

Fix hardcoded slack ID issue
  backend/projects/handler.js
Labels: backend, projects

Add slack ID lookup and autopopulate
  backend/projects/handler.js
  backend/projects/serverless.yml
  frontend/src/mixins/general.js
  frontend/src/views/RequestMentor.vue
Labels: frontend, backend, projects

Update general.js
  frontend/src/mixins/general.js
Labels: frontend

Update prod2.json
  backend/projects/config/prod2.json
Labels: backend, projects

create countdown timer (#174)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/general.js
  frontend/src/views/Home.vue
Labels: frontend

Fix countdown timer bug
  frontend/src/config/general.js
  frontend/src/views/Home.vue
Labels: frontend

centralize easter egg code
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

add image links
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Home.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend

custom positioning
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/FAQ.vue
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
Labels: frontend

add photo paths
  frontend/src/assets/postcards/ada lovelace.png
  frontend/src/assets/postcards/carolyn bertozzi.png
  frontend/src/assets/postcards/dijannafigueroa.png
  frontend/src/assets/postcards/farida bedwei.png
  frontend/src/assets/postcards/sofyako.png
  frontend/src/assets/postcards/wandamerced.png
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

Made text changes to the platform (#177)
  frontend/src/views/Home.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Team.vue
Labels: frontend

Fix hacker profile responsiveness
  frontend/src/views/HackerProfile.vue
Labels: frontend

Switch to mentor slack webhook to separate mentor requests and activity
  backend/projects/handler.js
Labels: backend, projects

Add ability to accept team invite
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/components/Banner.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend, backend, teams

Add slack confirmation screen to onboarding flow
  frontend/src/App.vue
  frontend/src/mixins/general.js
  frontend/src/views/Register.vue
Labels: frontend

Transition to new environment variable system
  frontend/src/components/ChecklistItem.vue
  frontend/src/mixins/general.js
  frontend/src/mixins/schedule.js
  frontend/src/router/index.js
  frontend/src/views/About.vue
  frontend/src/views/Authenticate.vue
  frontend/src/views/Games.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/LiveStream.vue
  frontend/src/views/Login.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/Passport.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Profile.vue
  frontend/src/views/Project.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/ShortLink.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/SponsorshipFair.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

First pass
  frontend/public/favicon.ico
  frontend/src/assets/Icon.png
  frontend/src/assets/Icon2.png
  frontend/src/assets/Icon3.png
  frontend/src/assets/Logo-Secondary.png
  frontend/src/assets/back_arrow.svg
  frontend/src/assets/global.css
  frontend/src/components/Banner.vue
  frontend/src/components/Button.vue
  frontend/src/components/ChecklistItem.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/Mentors/MentorManagementCard.vue
  frontend/src/components/NavItem.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/components/SectionTitle.vue
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/mixins/schedule.js
  frontend/src/router/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Passport.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

More cust
  frontend/src/assets/mail-icon.svg
  frontend/src/components/ProgressCircles.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
  frontend/src/views/Register.vue
Labels: frontend

Continue customization
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/HackerProfile.vue
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/Logout.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: frontend

FE deployment config
  frontend/package.json
Labels: frontend

add backend configs
  backend/admin/config/prod3.json
  backend/infrastructure/create-tables.js
  backend/infrastructure/schedule-seeder.js
  backend/projects/config/prod3.json
  backend/schedule/config/prod3.json
  backend/teams/config/prod3.json
  backend/users/config/prod3.json
  frontend/src/config/general.js
Labels: frontend, backend, admin, infrastructure, projects, schedule, teams, users

Set up slack
  frontend/src/config/general.js
Labels: frontend

Sendgrid
  backend/admin/config/prod3.json
  backend/users/config/prod3.json
Labels: backend, admin, users

Photo booth
  frontend/src/config/general.js
  frontend/src/views/PhotoBooth.vue
Labels: frontend

config
  frontend/public/index.html
  frontend/src/mixins/general.js
Labels: frontend

Fix announcements loading
  frontend/src/views/Home.vue
Labels: frontend

Intercom
  frontend/public/index.html
Labels: frontend
