Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

Revamp of team invites (#132)
  frontend/src/views/Team.vue
Labels: frontend

fill in user info on registration page (#135)
  frontend/src/views/Register.vue
Labels: frontend

Amao/sticky navbar (#134)
  frontend/src/assets/profile_pics/Profile Cloud 1.png
  frontend/src/assets/profile_pics/Profile Cloud 2.png
  frontend/src/assets/profile_pics/Profile Mountain.png
  frontend/src/assets/profile_pics/Profile Sun.png
  frontend/src/assets/profile_pics/Profile Wave.png
  frontend/src/components/Navbar.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

Add slack worspace to navbar (#136)
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/Register.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

Add live stream embedded
  frontend/src/assets/global.css
  frontend/src/assets/livestream.png
  frontend/src/config/general.js
  frontend/src/views/LiveStream.vue
Labels: frontend

Update LiveStream.vue
  frontend/src/views/LiveStream.vue
Labels: frontend

Test specifying serverless version to patch CI/CD
  .github/workflows/deploy-backend-users.yml
Labels: cicd

Fix remaining CI/CD services
  .github/workflows/deploy-backend-admin.yml
  .github/workflows/deploy-backend-projects.yml
  .github/workflows/deploy-backend-schedule.yml
  .github/workflows/deploy-backend-teams.yml
Labels: cicd

Update prod schedule endpoint
  frontend/src/config/general.js
Labels: frontend

Add backend endpoint for passport system
  backend/schedule/handler.js
  backend/schedule/serverless.yml
Labels: backend, schedule

Add dots
  frontend/src/router/index.js
  frontend/src/views/Passport.vue
Labels: frontend

Save working state
  frontend/src/views/Passport.vue
Labels: frontend

Patch mentorship button responsiveness issue
  frontend/src/views/RequestMentor.vue
Labels: frontend

Add big stickers
  frontend/src/views/Passport.vue
Labels: frontend

Add color coding
  frontend/src/views/Passport.vue
Labels: frontend

Add description
  frontend/src/views/Passport.vue
Labels: frontend

Update Passport.vue
  frontend/src/views/Passport.vue
Labels: frontend

Update Passport.vue
  frontend/src/views/Passport.vue
Labels: frontend

Adjust passport dot margin
  frontend/src/views/Passport.vue
Labels: frontend

Add initial postcard photos
  frontend/src/assets/postcards/postcard_1.png
  frontend/src/assets/postcards/postcard_2.png
Labels: frontend

Add stamp asset
  frontend/src/assets/stamp.png
Labels: frontend

Add easter egg stamp
  frontend/src/assets/global.css
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

Add hover state
  frontend/src/components/EasterEggStamp.vue
Labels: frontend

Add backend endpoints
  backend/admin/config/prod.json
  backend/admin/config/stage.json
  backend/admin/config/testing.json
  backend/admin/handler.js
  backend/admin/package-lock.json
  backend/admin/package.json
  backend/admin/serverless.yml
  backend/infrastructure/create-tables.js
Labels: backend, admin, infrastructure

Add easter egg creation to registration flow
  frontend/src/config/general.js
  frontend/src/views/Register.vue
Labels: frontend

Get easter egg to show/hide
  backend/admin/handler.js
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend, backend, admin

Adds track_user_activity backend endpoint
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, users

Add EE count
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

Adds test for track_user_activity
  backend/users/__tests__/track_user_activity.test.js
Labels: backend, users

Add easter egg system
  frontend/src/assets/postcards/postcard1.png
  frontend/src/assets/postcards/postcard2.png
  frontend/src/assets/postcards/postcard3.png
  frontend/src/assets/postcards/postcard4.png
  frontend/src/assets/postcards/postcard5.png
  frontend/src/assets/postcards/postcard6.png
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

Finalize postcard system
  frontend/src/components/EasterEggStamp.vue
  frontend/src/views/Project.vue
Labels: frontend

Add check to easter egg creation
  backend/admin/handler.js
Labels: backend, admin

Add admin endpoints for stage, prod
  frontend/src/config/general.js
  frontend/src/views/Project.vue
Labels: frontend

Fix typo with easter egg error check
  frontend/src/views/Project.vue
Labels: frontend

finished get_users_for_team
  backend/teams/__test__/get_users_for_team.test.js
Labels: backend, teams

finished get_team_membership_for_user test
  backend/teams/__test__/get_team_membership_for_user.test.js
Labels: backend, teams

Add slack setup
  frontend/src/config/general.js
  frontend/src/views/Register.vue
Labels: frontend

Add enrollment verification
  frontend/src/assets/global.css
  frontend/src/views/Register.vue
Labels: frontend

Add sign waiver step
  frontend/src/config/general.js
  frontend/src/views/Register.vue
Labels: frontend

Add hacker profile
  frontend/src/router/index.js
  frontend/src/views/HackerProfile.vue
Labels: frontend

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*
