Repository codetheorem/platform-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, cicd, admin, infrastructure, projects, schedule, teams, users

Add hacker resources
  frontend/src/config/content.js
  frontend/src/router/index.js
  frontend/src/views/HackerResources.vue
Labels: frontend

Update registration info placeholders
  frontend/src/views/Register.vue
Labels: frontend

Page scaffolding
  frontend/src/assets/Skribbl.png
  frontend/src/assets/Trivia.png
  frontend/src/assets/minecraft_icon_1.png
  frontend/src/assets/minecraft_icon_2.png
  frontend/src/router/index.js
  frontend/src/views/Games.vue
Labels: frontend

Add games links
  frontend/src/config/general.js
  frontend/src/views/Games.vue
  frontend/src/views/Schedule.vue
Labels: frontend

Fix config for prod
  frontend/src/config/general.js
Labels: frontend

gradient extends to end of page in one motion
  frontend/src/assets/global.css
Labels: frontend

put clouds at the end instead of on viewport
  frontend/src/views/Home.vue
Labels: frontend

linting
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Home.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/ShortLink.vue
Labels: frontend

Set up scaffolding
  frontend/src/config/content.js
  frontend/src/router/index.js
  frontend/src/views/Prizes.vue
Labels: frontend

Add home page animations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  frontend/src/views/Home.vue
Labels: frontend

Added test for update_hacker_profile
  backend/users/__tests__/update_hacker_profile.test.js
Labels: backend, users

Added test for update_hacker_profile
  backend/users/__tests__/update_hacker_profile.test.js
  backend/users/handler.js
Labels: backend, users

changed variable name
  backend/users/__tests__/update_hacker_profile.test.js
Labels: backend, users

Update with new image
  frontend/src/assets/home_page_bg.svg
  frontend/src/views/Home.vue
Labels: frontend

Update Home.vue
  frontend/src/views/Home.vue
Labels: frontend

finished water cooler time limit
  frontend/src/views/WaterCooler.vue
  frontend/vue.config.js
Labels: frontend

dropdown for mentor topic
  frontend/src/views/RequestMentor.vue
Labels: frontend

Add loading spinner to team room page
  frontend/src/views/TeamRoom.vue
Labels: frontend

Adjust z-index of water cooler image
  frontend/src/views/WaterCooler.vue
Labels: frontend

Adjust water cooler image height
  frontend/src/views/WaterCooler.vue
Labels: frontend

Grey out project submission button
  frontend/src/views/Project.vue
Labels: frontend

modified registration text
  frontend/src/views/Register.vue
Labels: frontend

Modified style of links to match Home Page links
  frontend/src/views/HelpDesk.vue
Labels: frontend

Update Register.vue
  frontend/src/views/Register.vue
Labels: frontend

add progress pills
  frontend/src/components/ContentContainer.vue
  frontend/src/components/ProgressCircles.vue
  frontend/src/views/Register.vue
Labels: frontend

fixed signing issue + autilint
  frontend/src/components/ContentContainer.vue
  frontend/src/components/ProgressCircles.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Team.vue
  frontend/vue.config.js
Labels: frontend

make loading spinner not warp
  frontend/src/components/LoadingSpinner.vue
Labels: frontend

make links and announcements the same size
  frontend/src/views/Home.vue
Labels: frontend

fix profile page
  frontend/src/views/HackerProfile.vue
Labels: frontend

Revise enrollment verification text based on Brand's feedback
  frontend/src/views/Register.vue
Labels: frontend

Adds basic interaction with slack in track_user_activity
  backend/users/handler.js
Labels: backend, users

Scaffolding
  frontend/src/router/index.js
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Improves slack messages for activity tracking
  backend/users/handler.js
  frontend/src/mixins/general.js
Labels: frontend, backend, users

Start header
  frontend/src/assets/back_arrow.svg
  frontend/src/components/Button.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Add description
  frontend/src/views/SponsorBooth.vue
Labels: frontend

More layout
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Add asset download
  frontend/src/assets/download.svg
  frontend/src/components/Button.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Styling
  frontend/src/assets/global.css
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Add responsive images
  frontend/src/components/Sponsors/SponsorSection.vue
  frontend/src/views/SponsorBooth.vue
Labels: frontend

Adjustments
  frontend/src/views/SponsorBooth.vue
Labels: frontend

.github/labeler.yml:

############################################################ GENERAL LABELS ####

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
backend:
  - backend/**/*

# Add 'cicd' to any changes within '.github' folder or any subfolders
cicd:
  - .github/**/*

################################################### DETAILED BACKEND LABELS ####

# Add 'admin' to any changes within 'backend/admin' folder or any subfolders
admin:
  - backend/admin/**/*

# Add 'infrastructure' to any changes within 'backend/infrastructure' folder or any subfolders
infrastructure:
  - backend/infrastructure/**/*

# Add 'projects' to any changes within 'backend/projects' folder or any subfolders
projects:
  - backend/projects/**/*

# Add 'schedule' to any changes within 'backend/schedule' folder or any subfolders
schedule:
  - backend/schedule/**/*

# Add 'teams' to any changes within 'backend/teams' folder or any subfolders
teams:
  - backend/teams/**/*

# Add 'users' to any changes within 'backend/users' folder or any subfolders
users:
  - backend/users/**/*
